body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EADBC8;
}

header {
    background-color: #F8F0E5;
    color: #4f3005;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #102C57;
}

input {
    padding: 6px;
    border: 2px solid #548de1;
    border-radius: 4px;
    outline: none;
}

button {
    padding: 10px 16px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-right: 4px;
    background-color: #DAC0A3;
}

button:hover {
color: #102C57;
}

button:active {
    transform: translateX(2px);
}
input:focus {
    border-color: #3e17eb;
}

#luasinputsection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

#kelilinginputsection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.inputbuttonsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 11px;
}

.img_luas_persegi, .img_kel_persegi{
    display: flex;
    justify-content: center;
    align-items: middle;
}
.img_luas_persegi1, .img_kel_persegi1{
    width:100px;
    height:100px;
}